# Clocks & debug
NET "clk50" LOC="P55" | IOSTANDARD = LVCMOS33;
NET "led" LOC="P10" | IOSTANDARD = LVCMOS33;

# Keyboard
NET "clkps2" LOC="P98" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dataps2" LOC="P97" | IOSTANDARD = LVCMOS33 | PULLUP;

# Pines externos
NET "ext<1>"  LOC="P62" | IOSTANDARD = LVCMOS33;
NET "ext<2>"  LOC="P61" | IOSTANDARD = LVCMOS33;
NET "ext<3>"  LOC="P58" | IOSTANDARD = LVCMOS33;
NET "ext<7>"  LOC="P57" | IOSTANDARD = LVCMOS33;
NET "ext<8>"  LOC="P56" | IOSTANDARD = LVCMOS33;
NET "ext<9>"  LOC="P51" | IOSTANDARD = LVCMOS33;
NET "ext<10>" LOC="P50" | IOSTANDARD = LVCMOS33;
NET "ext<11>" LOC="P48" | IOSTANDARD = LVCMOS33;
NET "ext<12>" LOC="P47" | IOSTANDARD = LVCMOS33;
NET "ext<13>" LOC="P46" | IOSTANDARD = LVCMOS33;
NET "ext<14>" LOC="P45" | IOSTANDARD = LVCMOS33;
NET "ext<15>" LOC="P44" | IOSTANDARD = LVCMOS33;
NET "ext<16>" LOC="P43" | IOSTANDARD = LVCMOS33;
NET "ext<17>" LOC="P41" | IOSTANDARD = LVCMOS33;
NET "ext<18>" LOC="P40" | IOSTANDARD = LVCMOS33;
NET "ext<19>" LOC="P35" | IOSTANDARD = LVCMOS33;
NET "ext<20>" LOC="P34" | IOSTANDARD = LVCMOS33;
NET "ext<21>" LOC="P33" | IOSTANDARD = LVCMOS33;
NET "ext<22>" LOC="P32" | IOSTANDARD = LVCMOS33;
NET "ext<23>" LOC="P30" | IOSTANDARD = LVCMOS33;
NET "ext<24>" LOC="P29" | IOSTANDARD = LVCMOS33;
NET "ext<25>" LOC="P27" | IOSTANDARD = LVCMOS33;
NET "ext<26>" LOC="P26" | IOSTANDARD = LVCMOS33;
NET "ext<27>" LOC="P24" | IOSTANDARD = LVCMOS33;
NET "ext<28>" LOC="P23" | IOSTANDARD = LVCMOS33;
NET "ext<29>" LOC="P22" | IOSTANDARD = LVCMOS33;
NET "ext<30>" LOC="P21" | IOSTANDARD = LVCMOS33;
NET "ext<31>" LOC="P17" | IOSTANDARD = LVCMOS33;
NET "ext<32>" LOC="P16" | IOSTANDARD = LVCMOS33;
NET "ext<33>" LOC="P15" | IOSTANDARD = LVCMOS33;
NET "ext<34>" LOC="P14" | IOSTANDARD = LVCMOS33;
NET "ext<35>" LOC="P12" | IOSTANDARD = LVCMOS33;
NET "ext<36>" LOC="P11" | IOSTANDARD = LVCMOS33;
