# Clocks & debug
NET "clk50mhz" LOC="P56" | IOSTANDARD = LVCMOS33;
#NET "led" LOC="P96" | IOSTANDARD = LVCMOS33;

# Video output
NET "r<2>" LOC="P94" | IOSTANDARD = LVCMOS33;
NET "r<1>" LOC="P93" | IOSTANDARD = LVCMOS33;
NET "r<0>" LOC="P92" | IOSTANDARD = LVCMOS33;
NET "g<2>" LOC="P88" | IOSTANDARD = LVCMOS33;
NET "g<1>" LOC="P87" | IOSTANDARD = LVCMOS33;
NET "g<0>" LOC="P86" | IOSTANDARD = LVCMOS33;
NET "b<2>" LOC="P85" | IOSTANDARD = LVCMOS33;
NET "b<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
NET "b<0>" LOC="P82" | IOSTANDARD = LVCMOS33;
NET "csync" LOC="P91" | IOSTANDARD = LVCMOS33;

#Sound output
#NET "left" LOC="P7" | IOSTANDARD = LVCMOS33;
#NET "right" LOC="P8" | IOSTANDARD = LVCMOS33;
