#
#
#

# Clock #######################################################################

NET "clock50" LOC="P55" | IOSTANDARD = LVCMOS33 | PERIOD=20ns;

# Video #######################################################################

NET "rgb<8>"  LOC="P81" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<7>"  LOC="P80" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<6>"  LOC="P79" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<5>"  LOC="P84" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<4>"  LOC="P83" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<3>"  LOC="P82" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<2>"  LOC="P93" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<1>"  LOC="P92" | IOSTANDARD = LVCMOS33 | SLEW=FAST;
NET "rgb<0>"  LOC="P88" | IOSTANDARD = LVCMOS33 | SLEW=FAST;

NET "sync<1>" LOC="P85" | IOSTANDARD = LVCMOS33 | SLEW=FAST; # vs
NET "sync<0>" LOC="P87" | IOSTANDARD = LVCMOS33 | SLEW=FAST; # hs

NET "stdn<1>" LOC="P66" | IOSTANDARD = LVCMOS33; # stdn <= "10" NTSC
NET "stdn<0>" LOC="P67" | IOSTANDARD = LVCMOS33; # stdn <= "01" PAL

## Expansión ###################################################################
#
#NET "segment<7>"   LOC="P23"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<28>" # dot
#NET "segment<6>"   LOC="P27"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<25>" # g
#NET "segment<5>"   LOC="P26"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<26>" # f
#NET "segment<4>"   LOC="P21"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<30>" # e
#NET "segment<3>"   LOC="P12"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<35>" # d
#NET "segment<2>"   LOC="P24"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<27>" # c
#NET "segment<1>"   LOC="P22"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<29>" # b
#NET "segment<0>"   LOC="P16"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<32>" # a
#
#NET "digit<3>"     LOC="P32"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<22>"
#NET "digit<2>"     LOC="P15"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<33>"
#NET "digit<1>"     LOC="P29"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<24>"
#NET "digit<0>"     LOC="P30"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<23>"
#
#NET "led<4>"       LOC="P47"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<12>"
#NET "led<3>"       LOC="P43"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<16>"
#NET "led<2>"       LOC="P41"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<17>"
#NET "led<1>"       LOC="P35"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<19>"
#NET "led<0>"       LOC="P34"  | IOSTANDARD = LVCMOS33 | SLEW=FAST; # "ext<20>"
