#UCF for ZX-UNO

# ==== Clock inputs (CLK) ====
NET "CLK_50MHZ" LOC = "P55"  | IOSTANDARD = LVCMOS33;

# ==== Joystick ====
NET "UP"     LOC = P142 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "DOWN"   LOC = P1 	| IOSTANDARD = LVCMOS33 | PULLUP; 
NET "LEFT"   LOC = P2	| IOSTANDARD = LVCMOS33 | PULLUP; 
NET "RIGHT"  LOC = P5	| IOSTANDARD = LVCMOS33 | PULLUP; 

NET "BTN_A"  LOC = P6  	 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "BTN_B"  LOC = P143   | IOSTANDARD = LVCMOS33 | PULLUP; 

NET "SELECT" LOC = P15 	 | IOSTANDARD = LVCMOS33;
NET "START"  LOC = P16 	 | IOSTANDARD = LVCMOS33; 

NET "MDSel"  LOC = P7	 | IOSTANDARD = LVCMOS33;

# ==== RS-232 Serial Ports (RS232) ====
NET "RXD" LOC = P11 | IOSTANDARD=LVCMOS33; #ext36  mas exterior
NET "TXD" LOC = P12 | IOSTANDARD=LVCMOS33; #ext35

# ==== Joypads ====
NET "NES_JOYPAD_CLK"   LOC = P41 | IOSTANDARD = LVCMOS33; 
NET "NES_JOYPAD_LATCH" LOC = P43 | IOSTANDARD = LVCMOS33; 
#NET "NES_JOYPAD_DATA1" LOC = P46 | IOSTANDARD = LVCMOS33 | PULLUP; 
NET "NES_JOYPAD_DATA2" LOC = P44 | IOSTANDARD = LVCMOS33 | PULLUP; 

# ==== VGA Port (VGA) ====
NET "VGA_HSYNC"    LOC = P87 | IOSTANDARD = LVCMOS33;
NET "VGA_VSYNC"    LOC = P85 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<0>"   LOC = P88 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<1>"   LOC = P92 | IOSTANDARD = LVCMOS33;
NET "VGA_RED<2>"   LOC = P93 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<0>" LOC = P82 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<1>" LOC = P83 | IOSTANDARD = LVCMOS33;
NET "VGA_GREEN<2>" LOC = P84 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<0>"  LOC = P79 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<1>"  LOC = P80 | IOSTANDARD = LVCMOS33;
NET "VGA_BLUE<2>"  LOC = P81 | IOSTANDARD = LVCMOS33;


# ==== Audio ====
NET "AUDIO"   LOC = "P8"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6;
NET "AUDIO_R" LOC = "P9"   | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 6;

NET "LED" LOC = "P10" | IOSTANDARD = LVCMOS33;

# ==== Pushbuttons (BTN) ====
NET "BTN_SOUTH" LOC = P47 | IOSTANDARD = LVCMOS33 | PULLDOWN;     
NET "BTN_EAST"  LOC = P48 | IOSTANDARD = LVCMOS33 | PULLUP;  