NET "cpu_n"   LOC = "P35"  ;
NET "ready"   LOC = "P34"  ;
NET "cas_n"   LOC = "P33"  ;
NET "en244_n" LOC = "P31"  ;
NET "mwe_n"   LOC = "P28"  ;
NET "casad_n" LOC = "P27"  ;
NET "ras_n"   LOC = "P26"  ;
NET "ck16"    LOC = "P30"  | BUFG = CLK | PERIOD = 62.5 ns;
NET "int_n"   LOC = "P25"  ;
NET "romen_n" LOC = "P82"  ;
NET "ramrd_n" LOC = "P80"  ;
NET "iorq_n"  LOC = "P21"  ;
NET "m1_n"    LOC = "P20"  ;
NET "mreq_n"  LOC = "P19"  ;
NET "rd_n"    LOC = "P17"  ;
NET "a15"     LOC = "P81"  ;
NET "phi_n"   LOC = "P126" ;
NET "d<5>"    LOC = "P128" ;
NET "d<6>"    LOC = "P129" ;
NET "d<7>"    LOC = "P130" ;
NET "cclk"    LOC = "P131" ;
NET "sync_n"  LOC = "P125" ;
NET "reset_n" LOC = "P138" ;
NET "b"       LOC = "P116" ;
NET "b_oe_n"  LOC = "P117" ;
NET "dispen"  LOC = "P137" ;
NET "g"       LOC = "P110" ;
NET "g_oe_n"  LOC = "P111" ;
NET "hsync"   LOC = "P23"  ;
NET "r"       LOC = "P120" ;
NET "r_oe_n"  LOC = "P121" ;
NET "vsync"   LOC = "P22"  ;
NET "d<4>"    LOC = "P74"  ;
NET "d<3>"    LOC = "P75"  ;
NET "d<2>"    LOC = "P76"  ;
NET "d<1>"    LOC = "P77"  ;
NET "d<0>"    LOC = "P78"  ;
NET "a14"     LOC = "P79"  ;
