NET "cpu_n"   LOC = "P154" ;
NET "ready"   LOC = "P155" ;
NET "cas_n"   LOC = "P156" ;
NET "en244_n" LOC = "P158" ;
NET "mwe_n"   LOC = "P2"   ;
NET "casad_n" LOC = "P3"   ;
NET "ras_n"   LOC = "P4"   ;
NET "ck16"    LOC = "P33"  | BUFG = CLK | PERIOD = 62.5 ns;
NET "int_n"   LOC = "P5"   ;
NET "romen_n" LOC = "P6"   ;
NET "ramrd_n" LOC = "P7"   ;
NET "iorq_n"  LOC = "P8"   ;
NET "m1_n"    LOC = "P9"   ;
NET "mreq_n"  LOC = "P42"  ;
NET "rd_n"    LOC = "P43"  ;
NET "a15"     LOC = "P44"  ;
NET "phi_n"   LOC = "P139" ;
NET "d<5>"    LOC = "P153" ;
NET "d<6>"    LOC = "P152" ;
NET "d<7>"    LOC = "P151" ;
NET "cclk"    LOC = "P150" ;
NET "sync_n"  LOC = "P149" ;
NET "reset_n" LOC = "P148" ;
NET "b"       LOC = "P147" ;
NET "dispen"  LOC = "P146" ;
NET "g"       LOC = "P145" ;
NET "hsync"   LOC = "P144" ;
NET "r"       LOC = "P143" ;
NET "vsync"   LOC = "P142" ;
NET "d<4>"    LOC = "P135" ;
NET "d<3>"    LOC = "P134" ;
NET "d<2>"    LOC = "P133" ;
NET "d<1>"    LOC = "P132" ;
NET "d<0>"    LOC = "P131" ;
NET "a14"     LOC = "P97"  ;
