# Clocks & debug
NET "clk50mhz" LOC="P55" | IOSTANDARD = LVCMOS33;
NET "testled" LOC="P10" | IOSTANDARD = LVCMOS33;

# Video output
NET "r<2>" LOC="P93" | IOSTANDARD = LVCMOS33;
NET "r<1>" LOC="P92" | IOSTANDARD = LVCMOS33;
NET "r<0>" LOC="P88" | IOSTANDARD = LVCMOS33;
NET "g<2>" LOC="P84" | IOSTANDARD = LVCMOS33;
NET "g<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
NET "g<0>" LOC="P82" | IOSTANDARD = LVCMOS33;
NET "b<2>" LOC="P81" | IOSTANDARD = LVCMOS33;
NET "b<1>" LOC="P80" | IOSTANDARD = LVCMOS33;
NET "b<0>" LOC="P79" | IOSTANDARD = LVCMOS33;
NET "csync" LOC="P87" | IOSTANDARD = LVCMOS33;
#NET "vsync" LOC="P85" | IOSTANDARD = LVCMOS33;
NET "stdn" LOC="P67" | IOSTANDARD = LVCMOS33;
NET "stdnb" LOC="P66" | IOSTANDARD = LVCMOS33;

# Sound input/output
NET "audio_out_left" LOC="P8" | IOSTANDARD = LVCMOS33;
NET "audio_out_right" LOC="P9" | IOSTANDARD = LVCMOS33;
NET "ear" LOC="P105" | IOSTANDARD = LVCMOS33;

# Keyboard
NET "clkps2" LOC="P98" | IOSTANDARD = LVCMOS33 | PULLUP;
NET "dataps2" LOC="P97" | IOSTANDARD = LVCMOS33 | PULLUP;
#NET "clkmouse" LOC="P94" | IOSTANDARD = LVCMOS33 | PULLUP;  # comprobar estos pines
#NET "datamouse" LOC="P95" | IOSTANDARD = LVCMOS33 | PULLUP; # los he asignado a voleo

# SRAM
NET "sram_addr<0>"  LOC="P115" | IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"  LOC="P116" | IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"  LOC="P117" | IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"  LOC="P119" | IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"  LOC="P120" | IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"  LOC="P123" | IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"  LOC="P126" | IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"  LOC="P131" | IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"  LOC="P127" | IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"  LOC="P124" | IOSTANDARD = LVCMOS33;
NET "sram_addr<10>" LOC="P118" | IOSTANDARD = LVCMOS33;
NET "sram_addr<11>" LOC="P121" | IOSTANDARD = LVCMOS33;
NET "sram_addr<12>" LOC="P133" | IOSTANDARD = LVCMOS33;
NET "sram_addr<13>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "sram_addr<14>" LOC="P137" | IOSTANDARD = LVCMOS33;
NET "sram_addr<15>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "sram_addr<16>" LOC="P139" | IOSTANDARD = LVCMOS33;
NET "sram_addr<17>" LOC="P141" | IOSTANDARD = LVCMOS33;
NET "sram_addr<18>" LOC="P138" | IOSTANDARD = LVCMOS33;

NET "sram_data<0>" LOC="P114" | IOSTANDARD = LVCMOS33;
NET "sram_data<1>" LOC="P112" | IOSTANDARD = LVCMOS33;
NET "sram_data<2>" LOC="P111" | IOSTANDARD = LVCMOS33;
NET "sram_data<3>" LOC="P99" | IOSTANDARD = LVCMOS33;
NET "sram_data<4>" LOC="P100" | IOSTANDARD = LVCMOS33;
NET "sram_data<5>" LOC="P101" | IOSTANDARD = LVCMOS33;
NET "sram_data<6>" LOC="P102" | IOSTANDARD = LVCMOS33;
NET "sram_data<7>" LOC="P104" | IOSTANDARD = LVCMOS33;

NET "sram_we_n" LOC="P134" | IOSTANDARD = LVCMOS33;

# SPI Flash
NET "flash_cs_n" LOC="P38" | IOSTANDARD = LVCMOS33;
NET "flash_clk" LOC="P70" | IOSTANDARD = LVCMOS33;
NET "flash_mosi" LOC="P64" | IOSTANDARD = LVCMOS33;
NET "flash_miso" LOC="P65" | IOSTANDARD = LVCMOS33;
#NET "flash_ext1" LOC="P62" | IOSTANDARD = LVCMOS33;
#NET "flash_ext2" LOC="P61" | IOSTANDARD = LVCMOS33;

# SD/MMC
NET "sd_cs_n" LOC="P59" | IOSTANDARD = LVCMOS33;
NET "sd_clk" LOC="P75" | IOSTANDARD = LVCMOS33;
NET "sd_mosi" LOC="P74" | IOSTANDARD = LVCMOS33;
NET "sd_miso" LOC="P78" | IOSTANDARD = LVCMOS33;

# Z80 externo
NET "z80_a<0>" LOC="P11" | IOSTANDARD = LVCMOS33;
NET "z80_a<1>" LOC="P12" | IOSTANDARD = LVCMOS33;
NET "z80_a<2>" LOC="P14" | IOSTANDARD = LVCMOS33;
NET "z80_a<3>" LOC="P16" | IOSTANDARD = LVCMOS33;
NET "z80_a<4>" LOC="P15" | IOSTANDARD = LVCMOS33;
NET "z80_a<5>" LOC="P17" | IOSTANDARD = LVCMOS33;
NET "z80_a<6>" LOC="P21" | IOSTANDARD = LVCMOS33;
NET "z80_a<7>" LOC="P22" | IOSTANDARD = LVCMOS33;
NET "z80_a<8>" LOC="P23" | IOSTANDARD = LVCMOS33;
NET "z80_a<9>" LOC="P24" | IOSTANDARD = LVCMOS33;
NET "z80_a<10>" LOC="P26" | IOSTANDARD = LVCMOS33;
NET "z80_a<11>" LOC="P27" | IOSTANDARD = LVCMOS33;
NET "z80_a<12>" LOC="P29" | IOSTANDARD = LVCMOS33;
NET "z80_a<13>" LOC="P30" | IOSTANDARD = LVCMOS33;
NET "z80_a<14>" LOC="P32" | IOSTANDARD = LVCMOS33;
NET "z80_a<15>" LOC="P33" | IOSTANDARD = LVCMOS33;

NET "z80_d<0>" LOC="P62" | IOSTANDARD = LVCMOS33;
NET "z80_d<1>" LOC="P58" | IOSTANDARD = LVCMOS33;
NET "z80_d<2>" LOC="P51" | IOSTANDARD = LVCMOS33;
NET "z80_d<3>" LOC="P47" | IOSTANDARD = LVCMOS33;
NET "z80_d<4>" LOC="P48" | IOSTANDARD = LVCMOS33;
NET "z80_d<5>" LOC="P50" | IOSTANDARD = LVCMOS33;
NET "z80_d<6>" LOC="P56" | IOSTANDARD = LVCMOS33;
NET "z80_d<7>" LOC="P57" | IOSTANDARD = LVCMOS33;

NET "z80_iorq_n" LOC="P40" | IOSTANDARD = LVCMOS33;
NET "z80_int_n" LOC="P44" | IOSTANDARD = LVCMOS33;
NET "z80_reset_n" LOC="P34" | IOSTANDARD = LVCMOS33;
NET "z80_rd_n" LOC="P41" | IOSTANDARD = LVCMOS33;
NET "z80_nmi_n" LOC="P45" | IOSTANDARD = LVCMOS33;
NET "z80_m1_n" LOC="P61" | IOSTANDARD = LVCMOS33;
NET "z80_clk" LOC="P35" | IOSTANDARD = LVCMOS33;
NET "z80_wr_n" LOC="P43" | IOSTANDARD = LVCMOS33;
NET "z80_mreq_n" LOC="P46" | IOSTANDARD = LVCMOS33;
