NET "clk50" LOC = "P53" ;

#NET "btn0" LOC = "P69" ;
#NET "btn1" LOC = "P48" ;
#NET "btn2" LOC = "P47" ;
#NET "btn3" LOC = "P41" ;
#
#NET "sw7" LOC = "P6" ;
#NET "sw6" LOC = "P10" ;

NET "ps2data" LOC = "P97" | PULLUP ;
NET "ps2clk" LOC = "P96" | PULLUP ;

NET "an<3>" LOC = "P26";
NET "an<2>" LOC = "P32";
NET "an<1>" LOC = "P33";
NET "an<0>" LOC = "P34";

NET "seg<0>" LOC = "P25";
NET "seg<1>" LOC = "P16";
NET "seg<2>" LOC = "P23";
NET "seg<3>" LOC = "P21";
NET "seg<4>" LOC = "P20";
NET "seg<5>" LOC = "P17";
NET "seg<6>" LOC = "P83";

NET "ledextended" LOC = "P2";
NET "ledreleased" LOC = "P3";
NET "ledbusy" LOC = "P15";
NET "lederror" LOC = "P14";

NET "boton4" LOC = "P69" ;
NET "boton3" LOC = "P48" ;
NET "boton2" LOC = "P47" ;
NET "boton1" LOC = "P41" ;

NET "sw<7>" LOC = "P6" ;
NET "sw<6>" LOC = "P10" ;
NET "sw<5>" LOC = "P12" ;
NET "sw<4>" LOC = "P18" ;
NET "sw<3>" LOC = "P24" ;
NET "sw<2>" LOC = "P29" ;
NET "sw<1>" LOC = "P36" ;
NET "sw<0>" LOC = "P38" ;
