//! **************************************************************************
// Written by: Map P.20131013 on Sun Mar 05 13:52:30 2017
//! **************************************************************************

SCHEMATIC START;
COMP "VGA_B<0>" LOCATE = SITE "P88" LEVEL 1;
COMP "VGA_B<1>" LOCATE = SITE "P92" LEVEL 1;
COMP "VGA_B<2>" LOCATE = SITE "P93" LEVEL 1;
COMP "VGA_G<0>" LOCATE = SITE "P82" LEVEL 1;
COMP "VGA_G<1>" LOCATE = SITE "P83" LEVEL 1;
COMP "VGA_G<2>" LOCATE = SITE "P84" LEVEL 1;
COMP "VGA_R<0>" LOCATE = SITE "P79" LEVEL 1;
COMP "VGA_R<1>" LOCATE = SITE "P80" LEVEL 1;
COMP "VGA_R<2>" LOCATE = SITE "P81" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "P75" LEVEL 1;
PIN SPI_SCK_pin<0> = BEL "SPI_SCK" PINNAME PAD;
PIN "SPI_SCK_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "EAR" LOCATE = SITE "P94" LEVEL 1;
COMP "LED" LOCATE = SITE "P11" LEVEL 1;
COMP "stdn" LOCATE = SITE "P66" LEVEL 1;
COMP "playbutton" LOCATE = SITE "P58" LEVEL 1;
COMP "ps2_clk" LOCATE = SITE "P99" LEVEL 1;
COMP "stdnb" LOCATE = SITE "P67" LEVEL 1;
COMP "CONF_DATA0" LOCATE = SITE "P59" LEVEL 1;
COMP "VGA_HS" LOCATE = SITE "P87" LEVEL 1;
COMP "VGA_VS" LOCATE = SITE "P85" LEVEL 1;
COMP "SPI_DI" LOCATE = SITE "P74" LEVEL 1;
COMP "SPI_DO" LOCATE = SITE "P78" LEVEL 1;
COMP "ps2_data" LOCATE = SITE "P98" LEVEL 1;
COMP "CLOCK_50" LOCATE = SITE "P55" LEVEL 1;
COMP "AUDIO_L" LOCATE = SITE "P10" LEVEL 1;
COMP "AUDIO_R" LOCATE = SITE "P9" LEVEL 1;
SCHEMATIC END;

