*{
  margin:0;
}
body{
  margin:20px;
  font-family:Arial, Helvetica, sans-serif;
  font-size:16px;
}
#menu span{
  width:15px;
  float:left;
  font-weight:bold;
}
#menu a{
  display:block;
  float:left;
  width:80px;
}
#logo{
  margin:0 auto;
  width:741px;
  height:206px;
}
#menu{
  margin:25px auto;
  height:25px;
  width:610px;
}
#main{
  margin:0 auto;
  padding:5px;
  width:788px;
  border:15px solid #eee;
  font-size:14px;
}
#footer{
  margin:25px auto;
  width:741px;
  height:190px;
}
#footerimg{
  clear:left;
  height:90px;
}
#footerhost{
  margin:15px auto;
  font-size:12px;
  text-align:center;
}
.section{
  height:25px;
  background-color:#eee;
  width:33%;
  text-align:center;
  border-top-style:groove;
  border-width:4px;
  padding-top:6px;
  margin-right:0.33%;
  font-weight:bold;
  float:left;
}
@media only screen and (max-width: 900px) {
#main{
  width:592px;
}
}
.rojo {
  color: red;
}
