# Clocks & debug
NET "clk50mhz" LOC="P56" | IOSTANDARD = LVCMOS33;
#NET "led" LOC="P96" | IOSTANDARD = LVCMOS33;
NET "system_reset_n" LOC="P15" | IOSTANDARD = LVCMOS33 | PULLUP;

# Video output
NET "r<2>" LOC="P94" | IOSTANDARD = LVCMOS33;
NET "r<1>" LOC="P93" | IOSTANDARD = LVCMOS33;
NET "r<0>" LOC="P92" | IOSTANDARD = LVCMOS33;
NET "g<2>" LOC="P88" | IOSTANDARD = LVCMOS33;
NET "g<1>" LOC="P87" | IOSTANDARD = LVCMOS33;
NET "g<0>" LOC="P86" | IOSTANDARD = LVCMOS33;
NET "b<2>" LOC="P85" | IOSTANDARD = LVCMOS33;
NET "b<1>" LOC="P83" | IOSTANDARD = LVCMOS33;
NET "b<0>" LOC="P82" | IOSTANDARD = LVCMOS33;
NET "csync" LOC="P91" | IOSTANDARD = LVCMOS33;

#Sound output
#NET "left" LOC="P7" | IOSTANDARD = LVCMOS33;
#NET "right" LOC="P8" | IOSTANDARD = LVCMOS33;

# SRAM
NET "sram_addr<0>"  LOC="P117" | IOSTANDARD = LVCMOS33;
NET "sram_addr<1>"  LOC="P122" | IOSTANDARD = LVCMOS33;
NET "sram_addr<2>"  LOC="P123" | IOSTANDARD = LVCMOS33;
NET "sram_addr<3>"  LOC="P124" | IOSTANDARD = LVCMOS33;
NET "sram_addr<4>"  LOC="P125" | IOSTANDARD = LVCMOS33;
NET "sram_addr<5>"  LOC="P126" | IOSTANDARD = LVCMOS33;
NET "sram_addr<6>"  LOC="P130" | IOSTANDARD = LVCMOS33;
NET "sram_addr<7>"  LOC="P131" | IOSTANDARD = LVCMOS33;
NET "sram_addr<8>"  LOC="P143" | IOSTANDARD = LVCMOS33;
NET "sram_addr<9>"  LOC="P142" | IOSTANDARD = LVCMOS33;
NET "sram_addr<10>" LOC="P106" | IOSTANDARD = LVCMOS33;
NET "sram_addr<11>" LOC="P140" | IOSTANDARD = LVCMOS33;
NET "sram_addr<12>" LOC="P132" | IOSTANDARD = LVCMOS33;
NET "sram_addr<13>" LOC="P2" | IOSTANDARD = LVCMOS33;
NET "sram_addr<14>" LOC="P134" | IOSTANDARD = LVCMOS33;
NET "sram_addr<15>" LOC="P5" | IOSTANDARD = LVCMOS33;
NET "sram_addr<16>" LOC="P135" | IOSTANDARD = LVCMOS33;
NET "sram_addr<17>" LOC="P139" | IOSTANDARD = LVCMOS33;
NET "sram_addr<18>" LOC="P4" | IOSTANDARD = LVCMOS33;

NET "sram_data<0>" LOC="P116" | IOSTANDARD = LVCMOS33;
NET "sram_data<1>" LOC="P113" | IOSTANDARD = LVCMOS33;
NET "sram_data<2>" LOC="P112" | IOSTANDARD = LVCMOS33;
NET "sram_data<3>" LOC="P97" | IOSTANDARD = LVCMOS33;
NET "sram_data<4>" LOC="P98" | IOSTANDARD = LVCMOS33;
NET "sram_data<5>" LOC="P103" | IOSTANDARD = LVCMOS33;
NET "sram_data<6>" LOC="P104" | IOSTANDARD = LVCMOS33;
NET "sram_data<7>" LOC="P105" | IOSTANDARD = LVCMOS33;

NET "sram_we_n" LOC="P3" | IOSTANDARD = LVCMOS33;
